.table {
  width: 100%;
  border-spacing: 0px;
}

.thead {
  padding: 22px;

  th {
    text-align: left;
  }
}

.tbody {
  tr:nth-child(even) {
    background-color: #f0f0f0;
  }

  tr:hover {
    background-color: #a6a6a6;
    cursor: pointer;
  }

  td {
    padding: 12px;
  }
}

td,
th {
  padding-left: 12px;
}
